:root {
    --yellow: #dad6a9;
    --orange: #e9961b;
    --white: #ffffff;
    --gray: #808080;
    --black: #000000;
}

body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: monospace;
}

nav {
    border-radius: 30px;
    display: flex;
    background: var(--fontColor);
    padding: 8px 40px;
    margin-top: 40px;
}
nav a {
    margin: 10px;
    font-size: 16px;
    color: var(--fontReverse);
    text-decoration: none;
}

.main {
    margin-left: 50px;
    margin-right: 50px;
}

li {
    list-style: circle;
}
h1 {
    text-align: center;
}

.light-theme {
    --bg: var(--yellow);
    --fontColor: var(--black);
    --fontReverse: var(--yellow);
    --fontVisited: var(--gray);
    --btnBg: var(--black);
    --btnFontColor: var(--yellow);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--yellow);
    --fontReverse: var(--black);
    --fontVisited: var(--orange);
    --btnBg: var(--yellow);
    --btnFontColor: var(--black);
}
.btn {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}
